.movies-list{
	list-style-type: none;
	padding:10px;
	padding-top: 80px;
	display: flex;
    grid-template-columns: 450px 450px 450px ;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 30px
}
.fa-times-circle{
    color:rgb(119, 114, 114);
    transition: transform 0.3s linear;
    font-size: 17px;
	position: relative;
    bottom: 350px;
	left: 100%;
}
.fa-times-circle:hover{
      transform: rotate(180deg);
      color: rgb(236, 144, 144);
      font-size: 17px;

}